.single{
  display: flex;
  justify-content: space-between;
  height: 100vh;
  padding: 20px 80px ;
  align-items: center;
}
.single_actiors, .single_recommendations{
  width: 25%;
  height: 100%;
  padding:10px 20px;
  background-color: red;
  overflow-y: scroll;
}
.single_info{
  width: 50%;
  height: 100%;
  padding: 20px;
  background-color: rgba(133, 118, 0.4,);
}