.menu{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(142, 179, 166); */
  padding: 10px 20px;
}
.menu__logo{
  display: flex;
  width: 100px;
}
.menu__list{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: 50px;
}
.menu__item{
  display: flex;
  justify-content: center;
  list-style: none;
  padding:0 10px;
  text-decoration: none;
}
.menu__link{
  color:black;
  font-size: 18px;
  font-family: sans-serif;
  /* transition: .5 ease-in-out; */
}
.active{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: red;
  padding: 5px;
  color: rgb(241, 225, 8);
  font-weight: 800; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu__search{
  padding: 6px;
  border-radius: 5px;
  font-size: 18px;
}
.menu__search::placeholder{
  font-size: 18px;
}